#Ignore json files
*.json

#Ignore build folders
/bin/
/obj/
obj/
bin/
*/Migrations/
/Migrations

#Ignore db/log files
*.db
*.db3
*.log

#Ignore scripts/txt files
*.ps1
*.txt

#Ignore vscode folders
/.vscode/
/.vs/
config.json.save
.DS_Store
ninjabot.db-journal


#Ignore misc files
*.dll
*.exe
*.mp3