{
  "Token": "discord-bot-token-here",
  "prefix": "!",
  "WoWClient": "wow-client-id",
  "WoWSecret": "wow-client-secret",
  "Database": {
    "Provider": "Postgres"
  },
  "ConnectionStrings": {
    "NinjaBot": "Host=db_host;Port=5432;Database=ninjabot;Username=ninjabot;Password=your-password;SslMode=Require;Include Error Detail=true"
  }
}
